Project5/Project5.WebSite/Connected Services/AccountDetailsService/AccountServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar78.fulton.asu.edu/Page6/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar78.fulton.asu.edu/Page6/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar78.fulton.asu.edu/Page6/AccountService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDevice" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetBillingInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBillingInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetBillingInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBillingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CollectPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectPayment" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CollectPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReport" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReportResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetDeviceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetDeviceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CreateAccount" message="tns:IAccountService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CreateAccountResponse" message="tns:IAccountService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddDevice" message="tns:IAccountService_AddDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddDeviceResponse" message="tns:IAccountService_AddDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBillingInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SetBillingInfo" message="tns:IAccountService_SetBillingInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SetBillingInfoResponse" message="tns:IAccountService_SetBillingInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollectPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CollectPayment" message="tns:IAccountService_CollectPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CollectPaymentResponse" message="tns:IAccountService_CollectPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetUserReport" message="tns:IAccountService_GetUserReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetUserReportResponse" message="tns:IAccountService_GetUserReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetDeviceInfo" message="tns:IAccountService_GetDeviceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetDeviceInfoResponse" message="tns:IAccountService_GetDeviceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Reset" message="tns:IAccountService_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ResetResponse" message="tns:IAccountService_Reset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBillingInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SetBillingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectPayment">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CollectPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserReport">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetUserReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceImpl">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://webstrar78.fulton.asu.edu/Page6/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>